<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>尊敬的用户:</h2>
    <h3 style="padding-left: 20px; margin: unset">您好!</h3>
    <div style="padding-left: 22px">
    <p>这里是秸秆原料化后台管理系统, 您本次的登录的验证码为:{{ PIN }}</p>
    <p>请尽快使用该验证码进行登录</p>
    <p>如果使用该验证码仍无法登录,请联系管理员</p>
    <p>管理员邮箱:LJ3393370171@163.com</p>
    <p>管理员电话:18772778193</p>
    <p></p>
    <p>祝您生活愉快!!!</p>
    </div>
    <br>
    <br>
    <p style="text-align: right">站长CMX</p>
    <p style="text-align: right">{{ datetime }}</p>
</body>
</html>